DATABASE_URL=postgresql://invoices_user:invoices_password@localhost:5432/invoices_db
RABBITMQ_URL=amqp://invoices_user:invoices_password@localhost:5672
RABBITMQ_INVOICE_SEND_QUEUE_NAME=invoice.send
PDF_STORAGE_PATH=/var/www/html/development/invoices-poc/storage/pdfs
EMAIL_WORKER_RABBITMQ_CHANNEL_PREFETCH=3
